@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kufam", sans-serif;
}



.circle {
  /*logo rortation*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
